@model Product

<h3>Delete Product</h3>

<div class="row">
    <form asp-action="ConfirmedDelete" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <div class="alert alert-warning">
            Are you sure to delete @Model.Name?
        </div>
        <div class="col-12">
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>